# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/.classpath
/.project
/.settings

# ignore
/.gitignore

#target, log
/ipm-common/target
/ipm-domain/target
/ipm-message-center/target
/ipm-service/target
/ipm-tools/target
/ipm-web/target
/ipm-common/log.dir_IS_UNDEFINED
/ipm-domain/log.dir_IS_UNDEFINED
/ipm-message-center/log.dir_IS_UNDEFINED
/ipm-service/log.dir_IS_UNDEFINED
/ipm-tools/log.dir_IS_UNDEFINED
/ipm-web/log.dir_IS_UNDEFINED
ipm-common/target/classes/META-INF/MANIFEST.MF
ipm-common/target/classes/META-INF/maven/com.chinesedreamer/ipm-common/pom.properties
ipm-common/target/classes/META-INF/maven/com.chinesedreamer/ipm-common/pom.xml
ipm-common/target/classes/org/ipm/common/App.class
ipm-common/target/classes/spring-config.xml
ipm-common/target/test-classes/org/ipm/common/AppTest.class
ipm-domain/target/classes/META-INF/MANIFEST.MF
ipm-domain/target/classes/META-INF/maven/com.chinesedreamer/ipm-domain/pom.properties
ipm-domain/target/classes/META-INF/maven/com.chinesedreamer/ipm-domain/pom.xml
ipm-domain/target/classes/org/ipm/domain/App.class
ipm-domain/target/test-classes/org/ipm/domain/AppTest.class
ipm-message-center/target/classes/META-INF/MANIFEST.MF
ipm-message-center/target/classes/META-INF/maven/com.chinesedreamer/ipm-message-center/pom.properties
ipm-message-center/target/classes/org/ipm/message/center/App.class
ipm-message-center/target/test-classes/org/ipm/message/center/AppTest.class
ipm-service/target/classes/META-INF/MANIFEST.MF
ipm-service/target/classes/META-INF/maven/com.chinesedreamer/ipm-service/pom.properties
ipm-service/target/classes/META-INF/maven/com.chinesedreamer/ipm-service/pom.xml
ipm-service/target/classes/org/ipm/service/App.class
ipm-service/target/test-classes/org/ipm/service/AppTest.class
ipm-tools/target/classes/META-INF/MANIFEST.MF
ipm-tools/target/classes/META-INF/maven/com.chinesedreamer/ipm-tools/pom.properties
ipm-tools/target/classes/org/ipm/tools/App.class
ipm-tools/target/test-classes/org/ipm/tools/AppTest.class
ipm-web/target/classes/com/chinesedreamer/ipm/filter/AjaxTimeoutFilter.class
ipm-web/target/classes/com/chinesedreamer/ipm/filter/IpmFormAuthenticationFilter.class
ipm-web/target/classes/com/chinesedreamer/ipm/filter/IpmUserFilter.class
ipm-web/target/classes/com/chinesedreamer/ipm/filter/IpmUserRealm.class
ipm-web/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
ipm-web/target/m2e-wtp/web-resources/META-INF/maven/com.chinesedreamer/ipm-web/pom.properties
ipm-web/target/m2e-wtp/web-resources/META-INF/maven/com.chinesedreamer/ipm-web/pom.xml
target/classes/com/chinesedreamer/ipm/App.class
ipm-common/target/
ipm-domain/target/
ipm-message-center/target/
ipm-service/target/
ipm-tools/target/
ipm-web/target/
target/
