# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/.classpath
/.project
/.settings

#target, log
*/target/*
*log.dir*

#eclipse
ipm-common/.classpath
ipm-common/.project
ipm-common/.settings/org.eclipse.jdt.core.prefs
ipm-common/.settings/org.eclipse.wst.common.component
ipm-common/.settings/org.eclipse.wst.common.project.facet.core.xml
ipm-common/.settings/org.eclipse.wst.validation.prefs
ipm-domain/.classpath
ipm-domain/.project
ipm-domain/.settings/org.eclipse.jdt.core.prefs
ipm-domain/.settings/org.eclipse.wst.common.component
ipm-domain/.settings/org.eclipse.wst.common.project.facet.core.xml
ipm-domain/.settings/org.eclipse.wst.validation.prefs
ipm-message-center/.classpath
ipm-message-center/.project
ipm-message-center/.settings/org.eclipse.jdt.core.prefs
ipm-message-center/.settings/org.eclipse.wst.common.component
ipm-message-center/.settings/org.eclipse.wst.common.project.facet.core.xml
ipm-service/.classpath
ipm-service/.project
ipm-service/.settings/org.eclipse.jdt.core.prefs
ipm-service/.settings/org.eclipse.wst.common.component
ipm-service/.settings/org.eclipse.wst.common.project.facet.core.xml
ipm-service/.settings/org.eclipse.wst.validation.prefs
ipm-web/.settings/.jsdtscope
ipm-web/.settings/org.eclipse.wst.common.component
