<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>IPM - Efficient System</title>
</head>
<body>
	<div id="login_panel"></div>
</body>
<!-- jQuery -->
<script type="text/javascript" src="${ctx}/resources/components/jQuery/jquery-1.9.1.min.js"></script>

<!-- Extjs4.2 -->
<link rel="stylesheet" type="text/css" href="${ctx}/resources/components/extjs4.2/resources/css/ext-all-neptune.css" />
<script type="text/javascript" src="${ctx}/resources/components/extjs4.2/bootstrap.js"></script>
<script type="text/javascript" src="${ctx}/resources/components/extjs4.2/local/ext-lang-zh_CN.js"></script>

<script type="text/javascript" src="${ctx}/resources/js/login/login.js"></script>
<script type="text/javascript" src="${ctx}/resources/js/login/item.js"></script>
</html>